<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Clash Royal Clan Stats</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="scripts/app.js"></script>


</head>

<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background: #333333; border:1px red">
    <div class="container">
        <h1 class="clan-header">The Greek Noobs</h1>
        <p style="text-align:center">Donations and Clan Chest Contributions Statistics </p>

    </div>
</div>

<div ng-app="App" class="container">
    <div ng-cloak>
        <div class="inner-container col-xs-12">
            <div ng-controller="weeksDropdownController">
                <div class="filter">

                    <div class="col-xs-6 col-md-3" >
                        <table>
                            <tr><td><label>Stats for Past Week : </label></td></tr>
                            <tr><td><span>{{stats[0].startDate[2]}}/{{stats[0].startDate[1]}}/{{stats[0].startDate[0]}}
                        - {{stats[0].endDate[2]}}/{{stats[0].endDate[1]}}/{{stats[0].endDate[0]}}</span></td></tr>
                        </table></div>
                    <div class="col-xs-2 dropdown">
                        <div style="margin-top:13px">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="selected">{{selectedItem}}</span>
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">

                                <li ng-repeat="i in [1,2 ,3,4,5,6,7,8,9,10,11,12 ]">
                                    <a ng-click="dropboxitemselected(i)">{{i}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--
                <div class="col-xs-4">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  show-button-bar="false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th rowspan="2">Player
                            <order-directive bind-to="name" ordering-by="orderingBy"/>
                        </th>
                        <th rowspan="2">Chest contribution
                            <order-directive bind-to="chestContribution" ordering-by="orderingBy"/>
                        </th>
                        <th rowspan="2">Donations
                            <order-directive bind-to="cardDonation" ordering-by="orderingBy"/>
                        </th>
                        <th colspan="2">Average Stats (of the last 12 weeks)</th>
                    </tr>
                    <tr>
                        <th>Chest Contribution
                            <order-directive bind-to="avgChestContribution" ordering-by="orderingBy"/>
                        </th>
                        <th>Donations
                            <order-directive bind-to="avgCardDonation" ordering-by="orderingBy"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-if="stats.length > 0 " ng-repeat="s in stats | orderBy: orderingBy">
                        <td style="font-family: cursive">{{s.name}}</td>
                        <td>{{s.chestContribution}}</td>
                        <td>{{s.cardDonation}}</td>
                        <td ng-style="avgContrColor(s.avgChestContribution, 'chest')">{{s.avgChestContribution}}</td>
                        <td ng-style="avgContrColor(s.avgCardDonation, 'card')">{{s.avgCardDonation}}</td>
                    </tr>
                    <tr ng-if="stats.length == 0"><td colspan="5"> <h2>No data for this period</h2></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<footer>
    <div class="jumbotron" style="background: #333333; border:1px red">
        <div class="container">
            <div class="clan-header col-xs-8"><h2>Powered by lytsiware productions</h2></div>
            <div class="col-xs-4"><h4>The stats have been provided by
                     <a style="color:yellow" href="http://www.clashstat.com" target="_black">www.clanstat.com</a></h4>
                </div>
                <div class="col-xs-3"><h4>This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell
                    and Supercell is not responsible for it.</h4></div>
        </div>
    </div>
</footer>




</body>
</html>