<div>
    <div class="inner-container col-xs-12">
        <br/>
        <div class="col-xs-12">
            <div id="rules">
                <div style="text-align:center"><h1><b>Clan rules</b></h1></div><p/>
                <h4>
                    <ol class="col-xs-12 col-lg-10 col-lg-offset-1 clan-stats-panel">
                        <li style="color:red"><b>Στα war παιζουμε ΟΛΕΣ ΤΙΣ ΜΑΧΕΣ ΥΠΟΧΡΕΩΤΙΚΑ.</b>
                            <br>Eιναι προτιμοτερο να μην παρουμε καθολου μερος στο war παρα να μην παιξουμε όλες τις
                            μαχες.
                        </li>
                        <li>Παιρνουμε μερος σε οσο πιο πολλα wars μπορουμε. Τουλαχιστον 2 στα 5 wars.</li>
                        <li>Τουλαχιστον 2 requests την ημερα.</li>
                        <li>Συμμετεχουμε στις συζητησεις στο chat. Ειμαστε φιλικοι και δεν προσβαλουμε τα υπολοιπα
                            μελη.
                        </li>
                        <li>Πως γινομαστε elder? <br/> Ακολουθουμε τους παραπανω κανονες για τουλαχιστον 4 εβδομαδες και
                            συμμετοχη τουλαχιστον σε 2 ανα 5 wars.
                        </li>
                        <li>Πως γινομαστε co? <br/> Ακολουθουμε τους παραπανω κανονες ενώ ειμαστε ηδη elder για
                            τουλαχιστον 1 μήνα
                        </li>
                        <li>Δεν προλαβαινω να παρω μερος σε συνεχομενα wars... πειραζει;<br> OXI</li>
                        <li>Πηρα μερος στο war αλλα δεν επαιξα collection / final battle ... πειραζει; <br/>
                            <b>NAI</b>. Ειναι αυτοματο demote εαν εισαι elder η co, ή kick εαν εισαι member</bt></li>
                    </ol>
                    <div class="col-lg-2"></div>
                </h4>
            </div>
        </div>
    </div>
</div>
