<div ng-cloak>
    <div class="col-xs-12 rules" style="max-width:1024px">
        <div style="margin-top:150px; margin-left:20px; margin-right:10px;">
            <div style="text-align:center"><h1><b>Clan rules</b></h1></div><p/>
            <h3>
                <ol>
                    <li> Προσέχουμε τι λεμε στα βιντεακια που κανουμε share! Δεν κανουμε φυλετικες διακρίσεις. Βρισιες επιτρέπονται μεχρι ενος ορίου</li><p/>
                    <li> Δεν ρωτάμε συνέχεια να γινουμε elder και co,  θα το κανουμε οι παλαιότεροι οταν πρέπει.</li><p/>
                    <li> Oποιος βρίσει μέλος τρώει μπαν εκτός αν εχει σοβαρο λόγο ο οποίος θα πρέπει να διευκρινιστεί!</li><p/>
                    <li> Εχουμε τουλαχιστον 10cc και 200 donates κατα μεσον ορο.</li><p/>
                </ol>
            </h3>
        </div>
    </div>
</div>
