<div ng-cloak>
    <div class="col-xs-12 rules" style="max-width:1024px">
        <div style="margin-top:150px; margin-left:20px; margin-right:10px;">
            <div style="text-align:center"><h1><b>Clan rules</b></h1></div><p/>
            <h3>
                <ol>
                    <li> TODO</li><p/>
                    <li> TODO</li><p/>
                    <li> TODO</li><p/>
                    <li> TODO</li><p/>
                    <li> <pre>sample of csv file for war
                        filename 23-5-2018.csv <-- war leage start date
                        content:

                        The Gigantic Battle of Courage ,1, 124
                        name, cardsWon, gamesGranted, gamesWon, gamesLost
                        obi2, 375, 1, 1, 0
                        xeliSpawn, 375, 1, 1, 0
                        kakaos, 350, 1, 1, 0


                        ΥΓ: η σειρα των ονοματων πρεπει να ειναι οπως τα δειχνει το παιχνιδι
                        ΥΓ2 : η γραμμη "The Gigantic Battle of Courage ,1, 124" ειναι τα league name, rank, trophies αντιστοιχα
                    </pre></li>

                </ol>
            </h3>
        </div>
    </div>
</div>
