<div ng-cloak>
    <div class="inner-container col-xs-12">
        <div ng-controller="weeksDropdownController">

            <div class="filter row">

                <div class="col-xs-4 col-md-3" >
                    <table>
                        <tr><td><label>Shift to previous week No#:</label></td></tr>
                        <tr><td><span>{{stats[0].startDate[2]}}/{{stats[0].startDate[1]}}/{{stats[0].startDate[0]}}
                    - {{stats[0].endDate[2]}}/{{stats[0].endDate[1]}}/{{stats[0].endDate[0]}}</span></td></tr>
                    </table>
                </div>

                <div class="btn-group" role="group">
                    <div style="margin-top:13px">
                        <button type="button" class="btn btn-primary btn-default btn-lg" ng-click="previousWeek()"><i class='fa fa-fw fa-chevron-left'></i></button>
                        <div class="btn-group"  role="group">
                            <button class="btn btn-default btn-block dropdown-toggle btn-lg" type="button" data-toggle="dropdown">
                                <span class="selected">{{selectedItem}}</span>
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" style="width:100%">

                                <li ng-repeat="i in [1,2 ,3,4,5,6,7,8,9,10,11,12 ]">
                                    <a ng-click="dropboxitemselected(i)">{{i}}</a>
                                </li>
                            </ul>
                        </div>

                        <button type="button"  class="btn btn-primary btn-lg btn-default" ng-click="nextWeek()"><i class='fa fa-fw fa-chevron-right'></i></button>
                    </div>
                </div>

                <button type="button" style="margin-top:13px" class="btn btn-primary btn-lg col-xs-offset-1" ng-click="togglePercentage()">
                    {{percentageButtonLbl}}
                </button>

            </div>
            <p/>
          			
			<form class="form-horizontal">
				<div class="form-group bubble">
					<label class="col-xs-3 control-label align-left" >Total Weekly Donations:</label>
					<label class="col-xs-3 control-label" style="text-align:left">
						<h3 style="display:inline">{{totalDonations}}</h3>
					</label>
					<label class="col-xs-3 control-label" style="float:right;text-align:left">
						<img style="display:inline" src="images/clanChest.png">
						<h3 style="display:inline">{{chectLevel}} <small>/10</small></h3>
					</label>
				</div>
			</form>
          
            <div class="btn-group"  role="group">
                <button class="btn btn-default btn-block dropdown-toggle btn-sm" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu" style="width:100%; white-space: normal;">
	                <li ng-repeat="(key, val) in selectableColumns">
		                <a href="#" class="small"><input type="checkbox" ng-model="selectableColumns[key].show"  ng-click="setItemSelected($event)"/>&nbsp;{{val.name}}</a>
		           </li>
                </ul>
            </div>

            <div style="position:relative">
            	<div class="loading" ng-show="dataLoading"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
	            <table class="table table-striped">
	                <thead>
		                <tr>
		                    <th rowspan="2"><span ng-click=triggerOrderDirective($event)>
		                    	Player <order-directive bind-to="name" filter-by="filter"/>
		                        </span>
		                    </th>
		                    <th ng-show="selectableColumns['role'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)>
		                    	Role <order-directive bind-to="role" filter-by="filter" comparator="roleOrder"/>
		                    	</span>
		                    </th>
		                    <th ng-show="selectableColumns['cc'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)> Chest contribution
		                        <order-directive bind-to="chestContribution" filter-by="filter"/></span>
		                    </th>
		                     <th ng-show="selectableColumns['ccRank'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)> Chest contribution Rank
		                        <order-directive bind-to="chestContribution" filter-by="filter"/></span>
		                    </th>
		                    <th ng-show="selectableColumns['cardDonation'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)> Donations
		                        <order-directive bind-to="cardDonation" filter-by="filter"/></span>
		                    </th>
		                     <th ng-show="selectableColumns['cardDonationRank'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)> Donation Rank
		                        <order-directive bind-to="cardDonation" filter-by="filter"/></span>
		                    </th>
		                    <th ng-show="selectableColumns['overallRank'].show" rowspan="2"><span ng-click=triggerOrderDirective($event)> Overall Ranking
		                        <order-directive bind-to="overallRanking" filter-by="filter"/></span>
		                    </th>
		                    <th ng-show="averageColSpan!=0" colspan="{{averageColSpan}}"> Average Stats (of the last 12 weeks) {{averageColSpan}} </th>
		                </tr>
		                <tr>
		                    <th><span ng-show="selectableColumns['avgCc'].show" ng-click=triggerOrderDirective($event)>Chest Contribution
		                        <order-directive bind-to="avgChestContribution" filter-by="filter"/></span>
		                    </th>
		                     <th><span ng-show="selectableColumns['avgCcRank'].show" ng-click=triggerOrderDirective($event)>Chest Contribution Rank
		                        <order-directive bind-to="avgChestContribution" filter-by="filter"/></span>
		                    </th>
		                    <th><span ng-show="selectableColumns['avgDonation'].show" ng-click=triggerOrderDirective($event)>Donations
		                        <order-directive bind-to="avgCardDonation" filter-by="filter"/></span>
		                    </th>
		                    <th><span ng-show="selectableColumns['avgDonationRank'].show" ng-click=triggerOrderDirective($event)>Donations Rank
		                        <order-directive bind-to="avgCardDonation" filter-by="filter"/></span>
		                    </th>
		                </tr>
	                </thead>
	                <tbody>
	
	                <tr ng-if="stats.length > 0 " ng-repeat="s in stats | orderBy: filter.orderBy: false : filter.comparator">
	                    <td style="font-family: 'Comic Sans MS', cursive, sans-serif;"><a href="player/{{s.tag}}">{{s.name}}</a></td>
	                    <td ng-show="selectableColumns['role'].show">{{s.role}}</td>
	
	                    <td ng-show="selectableColumns['cc'].show && !showPercentage">{{s.chestContribution }}</td>
	                    <td ng-show="selectableColumns['cc'].show && showPercentage">{{s.chestContributionPerc | percentage:1}}</td>
	                    <td ng-show="selectableColumns['ccRank'].show">{{s.ccRank}}</td>
	                    
	                    <td ng-show="selectableColumns['cardDonation'].show && !showPercentage">{{s.cardDonation}}</td>
	                    <td ng-show="selectableColumns['cardDonation'].show && showPercentage">{{s.cardDonationPerc | percentage:1}}</td>
	                    <td ng-show="selectableColumns['cardDonationRank'].show">{{s.donationRank}}</td>
	                    
	                    <td ng-show="selectableColumns['avgCc'].show && !showPercentage" ng-style="avgContrColor(s.avgChestContribution, 'chest')">{{s.avgChestContribution | number:2 }}</td>
	                    <td ng-show="selectableColumns['avgCc'].show && showPercentage" ng-style="avgContrColor(s.avgChestContribution, 'chest')">{{s.avgChestContributionPerc | percentage:1 }}</td>
	                    <td ng-show="selectableColumns['avgCcRank'].show">{{s.avgCcRank}}</td>
	                    
	                    <td ng-show="selectableColumns['avgDonation'].show && !showPercentage" ng-style="avgContrColor(s.avgCardDonation, 'card')">{{s.avgCardDonation | number: 2}}</td>
	                    <td ng-show="selectableColumns['avgDonation'].show && showPercentage" ng-style="avgContrColor(s.avgCardDonation, 'card')">{{s.avgCardDonationPerc | percentage:1 }}</td>
	                    <td ng-show="selectableColumns['avgDonationRank'].show" ng-style="avgContrColor(s.avgCardDonation, 'chest')">{{s.avgDonationRank}}</td>
	                </tr>
	                <tr ng-if="stats.length == 0"><td colspan="12"> <h2>No data for this period</h2></td></tr>
	                </tbody>
	            </table>
            </div>
        </div>
    </div>
</div>