<div ng-cloak>
    <div class="inner-container col-xs-12">
        <div ng-controller="playerWarStatsController">
            <button class="btn btnl-lg btn-primary" ng-disabled="!hasBack()" data-ng-click="back()"><span><i
                    class="fa fa-fw fa-2x fa-arrow-left"></i> </span></button>

            <div class="text-center">
                <div>
                    <h1><a class="player-header" ng-href="player/{{player.tag}}" ng-click="next()">{{player.name}}</a>
                    </h1>

                </div>
                <div class="row"></div>
                <h4>Role: {{player.role}}</h4>
            </div>
            <hr/>

            <div style="position:relative">
                <loading-directive loading="loading"/>
                * All the averages are calculated based on the last 14 war leagues
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>

                        <tr>
                            <th rowspan="2">League</th>
                            <th rowspan="2"><img style="display:inline" src="images/cards_mid.png"></th>
                            <th rowspan="2">Battles</th>
                            <th colspan="2"> Player Average </th>
                            <th colspan="2"> League Average </th>
                        </tr>
                        <tr>
                            <th><img style="display:inline" src="images/cards_mid.png"></th>
                            <th>Win Ratio</th>
                            <th><img style="display:inline" src="images/cards_mid.png"></th>
                            <th>Win Ratio</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="player.stats.length > 0 " ng-repeat="s in player.stats">
                            <td style="font-family: 'Comic Sans MS', cursive, sans-serif;">{{s.leagueDate}}</td>
                            <td>{{s.cards}}</td>
                            <td><span ng-repeat="fightStatus in s.fightStatuses track by $index">
                                <img ng-if="fightStatus == 'win'" style="display:inline" src="images/win_mid.png">
                                <img ng-if="fightStatus == 'loose'" style="display:inline" src="images/loose_mid.png">
                                <img ng-if="fightStatus == 'forfeit'" style="display:inline" src="images/forfeit_mid.png">
                            </span></td>
                            <td>{{s.avgCards | number:2}}</td>
                            <td>{{s.avgWins | percentage:2}}</td>
                            <td>{{s.avgLeagueCards | number:2}}</td>
                            <td>{{s.avgLeagueWins | percentage:2}}</td>
                        </tr>
                        <tr ng-if="player.stats.length == 0">
                            <td colspan="12"><h2>No data for this period</h2></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>