<div ng-cloak>
    <div class="inner-container col-xs-12 river-race-background">
        <div ng-controller="promotionController">

            <div class="row clan-header"><h1>Performance and Promotions</h1></div>
            <div class="row clan-header">
                <h2>60 days in clan and 12
                    <img style="display:inline; width:25px"
                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                    = Co-leader</h2>
                <h2>30 days in clan and 6
                    <img style="display:inline; width:25px"
                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                    = Elder</h2>
                <h2>Get some
                    <img
                            style="display:inline; width:25px"
                            src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/forfeit_mid_fe6gzo.png">
                    = Demote or Kick</h2>
            </div>
            <div class="row clan-header">
                <h3 ng-repeat="s in static" ng-show="s.promotionPoint != 0">
                    Score {{s.leftInclusive}} - {{s.rightExclusive}} =
                    <span ng-show="s.promotionPoint > 0">
                          <img ng-repeat="x in [].constructor(s.promotionPoint) track by $index"
                               style="display:inline; width:15px"
                               src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                    </span>
                    <span ng-show="s.promotionPoint < 0">
                          <img ng-repeat="x in [].constructor(-s.promotionPoint) track by $index"
                               style="display:inline; width:15px"
                               src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/forfeit_mid_fe6gzo.png">
                    </span>
                </h3>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-4">
                        <label style="margin-top:13px">
                            <input ng-model="state.includeActiveRace.enabled" type="checkbox">
                            Include active race (..so far)
                        </label>
                    </div>
                </div>
            </div>

            <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>
                        <tr>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="name" filter-by="filter">Player</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="role" filter-by="filter"
                                                 comparator="roleOrder">Role</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="daysInClanAtEndOfRace"
                                                 filter-by="filter">Days in Clan</order-directive></span>
                            </th>
                            <th ng-show="!state.includeActiveRace.enabled"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="promotionPoints"
                                                 filter-by="filter">Points</order-directive></span>
                            </th>
                            <th ng-show="state.includeActiveRace.enabled"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="totalPromotionPoints"
                                                 filter-by="filter">Points</order-directive></span>
                            </th>
                            <th><span>Latest Performance</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in stats | orderBy: filter.orderBy: false : filter.comparator">
                            <td class="alternative-font">
                                <a ng-click="next()" ng-href="view/riverRace/player/{{s.tag}}">
                                    <span>{{s.name}}</span>
                                </a>
                            </td>
                            <td>{{s.role}}</td>
                            <td>{{s.daysInClanAtEndOfRace}}</td>
                            <td ng-show="!state.includeActiveRace.enabled">
                                <div ng-if="s.promotionPoints > 0">
                                    <img ng-repeat="x in [].constructor(min(s.promotionPoints)) track by $index"
                                         style="display:inline; width:15px"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                </div>
                                <div ng-if="s.promotionPoints < 0">
                                    <img ng-repeat="x in [].constructor(min(-s.promotionPoints)) track by $index"
                                         style="display:inline; width:15px"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/forfeit_mid_fe6gzo.png">
                                </div>
                            </td>
                            <td ng-show="state.includeActiveRace.enabled">
                                <div ng-if="s.totalPromotionPoints > 0">
                                    <img ng-repeat="x in [].constructor(min(s.totalPromotionPoints)) track by $index"
                                         style="display:inline; width:15px"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                </div>
                                <div ng-if="s.totalPromotionPoints < 0">
                                    <img ng-repeat="x in [].constructor(min(-s.totalPromotionPoints)) track by $index"
                                         style="display:inline; width:15px"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/forfeit_mid_fe6gzo.png">
                                </div>
                            </td>
                            <td ng-show="!state.includeActiveRace.enabled"
                                ng-style="colorfy(s.latestScore, 'riverrace')">{{s.latestScore}}
                            </td>
                            <td ng-show="state.includeActiveRace.enabled"
                                ng-style="colorfy(s.latestActiveScore, 'riverrace')">{{s.latestActiveScore}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>