<div ng-cloak>
    <div class="inner-container col-xs-12 river-race-background">
        <div ng-controller="riverRaceController">

            <div class="row clan-header"><h1>River Race Statistics</h1></div>
            <div>
                <div class="row">
                    <div class="col-xs-4 form-inline">
                        <div class="btn-group" role="group">
                            <div style="margin-top:13px">
                                <button class="btn btn-default btn-lg" ng-click="previousWeek()" type="button"><i
                                        class='fa fa-fw fa-chevron-left'></i></button>
                                <!--<input type="text" ng-model="selectedItem" class="btn btn-default btn-lg" numbers-only>-->
                                <input autocomplete="off" class="form-input form-control war-input"
                                       ng-blur="onItemSelectedBlur(selectedItem)" ng-model="selectedItem"
                                       numbers-only size="3" type="text">
                                <button class="btn btn-primary btn-lg btn-default" ng-click="nextWeek()"
                                        type="button"><i
                                        class='fa fa-fw fa-chevron-right'></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label style="margin-top:13px">
                            <input ng-model="hideNotInClanPlayers.enabled" type="checkbox">
                            Hide players not in Clan
                        </label>
                    </div>
                </div>
                <div class="row" style="aligh-text:center">
                    <div class="col-xs-3 col-md-3">
                        <h3><label class="label" style="color:orange">Fame:</label> {{stats.clan.fame}} </h3>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <h3><label class="label" style="color:cyan">Repair Points:</label>{{stats.clan.repairPoints}}
                        </h3>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <h3><label class="label">Rank:</label>{{stats.clan.rank == 0 ? "-" : stats.clan.rank}}</h3>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <h4><label class="label">update on:</label>{{stats.updatedOn | date:'dd-MM-yyyy HH:mm' }}</h4>
                    </div>
                </div>
            </div>
            <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>
                        <tr>
                            <th rowspan="2"/>
                            <th rowspan="2"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="name" filter-by="filter">Player</order-directive></span>
                            </th>
                            <th rowspan="2"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="role" filter-by="filter"
                                                 comparator="roleOrder">Role</order-directive></span>
                            </th>
                            <th rowspan="2"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="daysInClan" filter-by="filter">Days in Clan</order-directive></span>
                            </th>

                            <th colspan="3" style="border-right: 2px solid #1c1e22">Current</th>
                            <th colspan="2">Average</th>
                        </tr>
                        <tr>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="activeFame" filter-by="filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                </order-directive></span>
                            </th>
                            <!--                            <th><span ng-click=triggerOrderDirective($event)>-->
                            <!--                                <order-directive bind-to="repairPoints" filter-by="filter">-->
                            <!--                                    <img style="display:inline"-->
                            <!--                                         src=" https://res.cloudinary.com/dmoqikv5o/image/upload/v1600844747/repair_wcwnol.png">-->

                            <!--                                </order-directive></span>-->
                            <!--                            </th>-->
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="score" filter-by="filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/score_mid_wwsrc9.png">
                                </order-directive></span>
                            </th>
                            <th style="border-right: 2px solid #1c1e22"><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="warDecks"
                                                 filter-by="filter">Decks Played</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="averageActiveFame" filter-by="filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                </order-directive></span>
                            </th>
                            <!--                            <th><span ng-click=triggerOrderDirective($event)>-->
                            <!--                                <order-directive bind-to="averageRepairPoints" filter-by="filter">-->
                            <!--                                   <img style="display:inline"-->
                            <!--                                        src=" https://res.cloudinary.com/dmoqikv5o/image/upload/v1600844747/repair_wcwnol.png">-->

                            <!--                                </order-directive></span>-->
                            <!--                            </th>-->
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="averageScore" filter-by="filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/score_mid_wwsrc9.png">
                                </order-directive></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in stats.clan.participants | orderBy: filter.orderBy: false : filter.comparator | playerInClan:hideNotInClanPlayers.enabled">
                            <td>{{$index}}</td>
                            <td class="alternative-font">
                                <a ng-click="next()" ng-href="view/riverRace/player/{{s.tag}}">
                                    <span ng-style="{color: s.inClan === true ? '': 'darkgrey'}">{{s.name}}</span>
                                </a>
                            </td>
                            <td>{{s.role}}</td>
                            <td>{{s.daysInClan}}</td>
                            <td>{{s.activeFame}}</td>
<!--                            <td ng-style="colorfy(s.repairPoints, 'repairs')">{{s.repairPoints}}</td>-->
                            <td ng-style="colorfy(s.score, 'riverrace')">{{s.score}}</td>
                            <td>{{s.warDecks}}</td>
                            <td>{{s.averageActiveFame}}</td>
                         <!--   <td ng-style="colorfy(s.averageRepairPoints, 'repairs')">{{s.averageRepairPoints}}</td> -->
                            <td ng-style="colorfy(s.averageScore, 'riverrace')">{{s.averageScore}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-content clan-stats-panel" style="margin-top: 10px">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: active(t.tag)}" ng-repeat="t in stats.clans">
                            <a data-toggle="pill" ng-click="activateTab(t.tag)"><h4>{{t.name}}</h4></a>
                        </li>
                    </ul>
                    <div ng-repeat="t in stats.clans" ng-class="['tab-pane', 'fade', 'in', {active: active(t.tag)}]"
                         id="#{{t.tag}}">
                        <table class="halfscreen table table-striped war-table" style="max-width:720px">
                            <thead>
                            <tr>
                                <th colspan="5">CLAN : {{t.name}}</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <span ng-click=triggerOrderDirective($event)>
                                        <order-directive bind-to="name"
                                                         filter-by="otherClansFilter[$index].filter">Player</order-directive>
                                    </span>
                                </th>
                                <th><span ng-click=triggerOrderDirective($event)>
                                    <order-directive bind-to="activeFame" filter-by="otherClansFilter[$index].filter">
                                        <img style="display:inline"
                                             src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                    </order-directive></span>
                                </th>
                                <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="repairPoints" filter-by="otherClansFilter[$index].filter">
                                    <img style="display:inline"
                                         src=" https://res.cloudinary.com/dmoqikv5o/image/upload/v1600844747/repair_wcwnol.png">

                                </order-directive></span>
                                </th>
                                <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="score" filter-by="otherClansFilter[$index].filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/score_mid_wwsrc9.png">
                                </order-directive></span>
                                </th>
                                <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="fame" filter-by="otherClansFilter[$index].filter">
                                   Gathered Fame
                                </order-directive></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="s in t.participants | orderBy: otherClansFilter[$index].filter.orderBy: false : otherClansFilter[$index].filter.comparator">
                                <td>{{$index}}</td>
                                <td>{{s.name}}</td>
                                <td>{{s.activeFame}}</td>
                                <td ng-style="colorfy(s.repairPoints, 'repairs')">{{s.repairPoints}}</td>   
                                <td ng-style="colorfy(s.score, 'riverrace')">{{s.score}}</td>
                                <td>{{s.fame}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span> The  <img
                                src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/score_mid_wwsrc9.png"
                                style="display:inline"> is calculated based the win ratio, the average cards collected and the war participation </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
