<div ng-cloak>
    <div class="inner-container col-xs-12">
        <div ng-controller="riverRacePlayerController">
            <button class="btn btnl-lg btn-primary" data-ng-click="back()" ng-disabled="!hasBack()"><span><i
                    class="fa fa-fw fa-2x fa-arrow-left"></i> </span></button>
            <loading-directive loading="loading"/>
            <div class="row clan-header"><h1>River Race Players Statistics</h1></div>

            <div class="clan-stats-panel">
                <div class="text-center">
                    <h3 class="player-header">{{player.name}}</h3>
                    <h4>Tag: {{player.tag}}</h4>
                </div>
            </div>
            <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <span ng-click=triggerOrderDirective($event)>
                                    <order-directive bind-to="activeFame" filter-by="filter">
                                        <img style="display:inline"
                                             src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/win_mid_qjwssm.png">
                                    </order-directive></span>
                            </th>
                            <th>
                                <span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="repairPoints" filter-by="filter">
                                    <img style="display:inline"
                                         src=" https://res.cloudinary.com/dmoqikv5o/image/upload/v1600844747/repair_wcwnol.png">

                                </order-directive></span>
                            </th>
                            <th>
                                <span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="score" filter-by="filter">
                                    <img style="display:inline"
                                         src="https://res.cloudinary.com/dmoqikv5o/image/upload/v1592489053/score_mid_wwsrc9.png">
                                </order-directive></span>
                            </th>
                            <th>
                                <span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="fame" filter-by="filter">
                                    Gathered Fame
                                </order-directive>
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in stats | orderBy: filter.orderBy: false : filter.comparator | playerInClan:hideNotInClanPlayers.enabled">
                            <td>{{$index}}</td>
                            <td>{{s.activeFame}}</td>
                            <td ng-style="colorfy(s.repairPoints, 'repairs')">{{s.repairPoints}}</td>
                            <td ng-style="colorfy(s.score, 'riverrace')">{{s.score}}</td>
                            <td>{{s.fame}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>