<form method="POST" action="/rest/upload" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><label>Select a file to upload</label></td>
            <td><input class="btn btn-primary" type="file" name="file" /></td>
            <td><input class="btn btn-primary" type="submit" value="Submit" /></td>
        </tr>
        <tr>
        	<td><a class="btn btn-default" href="rest/generateTemplate" download="template.txt" target="_blank">Download Template</a>
       	</tr>
        	
    </table>
</form>

<label>upload war stats</label>
<form method="POST" action="/admin/uploadWarStats" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><label>Select a file to upload</label></td>
            <td><input class="btn btn-primary" type="file" name="file" multiple></td>
            <td><input class="btn btn-primary" type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

<label>replace names with tags</label>
<form method="POST" action="/rest/tagFile" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><label>Select a file to upload</label></td>
            <td><input class="btn btn-primary" type="file" name="file"/></td>
            <td><input class="btn btn-primary" type="submit" value="Submit" download="tagged.csv" target="_blank"/></td>
        </tr>
    </table>
</form>
