<form method="POST" action="/rest/upload" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><label>Select a file to upload</label></td>
            <td><input class="btn btn-primary" type="file" name="file" /></td>
            <td><input class="btn btn-primary" type="submit" value="Submit" /></td>
        </tr>
        <tr>
        	<td><a class="btn btn-default" href="rest/generateTemplate" download="template.txt" target="_blank">Download Template</a>
       	</tr>
        	
    </table>
</form>

