<div ng-cloak>
    <div class="inner-container col-xs-12">
        <div class="tab-content clan-stats-panel" ng-controller="clanWarStatsTabController" style="margin-top: 10px">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="pill" href="#averageWarStats" ng-click="activateTab($event)"><h4>Average War
                        Statistics</h4></a>
                </li>
                <li>
                    <a data-toggle="pill" href="#singleWarStats" ng-click="activateTab($event)"><h4>War League
                        Statistics</h4></a>
                </li>
                <li>
                    <a data-toggle="pill" href="#clanWarProgress" ng-click="activateTab($event)"><h4>Clans overall
                        progress</h4></a>
                </li>
            </ul>

            <div class="tab-pane fade in active" id="averageWarStats" ng-controller="warStatsController">
                <div class="col-xs-1 col-md-1">
                    <!-- Trigger the modal with a button -->
                    <button class="btn btn-default dropdown-toggle btn-lg" data-target="#columnSelectModal"
                            data-toggle="modal" type="button">
                        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                    </button>
                </div>
                <div class="row clan-header"><h1>Average War Statistics</h1></div>
                <div>
                    <div class="row">
                        <div class="col-sm-12"><label> Latest recorded war: </label><span> {{stats.latestWarRecordedDate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 form-inline">
                            <div class="btn-group" role="group">
                                <div style="margin-top:13px">
                                    <button class="btn btn-default btn-lg" ng-click="previousWeek()" type="button"><i
                                            class='fa fa-fw fa-chevron-left'></i></button>
                                    <!--<input type="text" ng-model="selectedItem" class="btn btn-default btn-lg" numbers-only>-->
                                    <input autocomplete="off" class="form-input form-control war-input"
                                           ng-blur="onItemSelectedBlur(selectedItem)" ng-model="selectedItem"
                                           numbers-only size="3" type="text">
                                    <button class="btn btn-primary btn-lg btn-default" ng-click="nextWeek()"
                                            type="button"><i
                                            class='fa fa-fw fa-chevron-right'></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label style="margin-top:13px">
                                <input ng-model="hideLessThanEnabled.enabled" type="checkbox">
                                Hide players with less than 6 wars
                            </label>
                        </div>
                        <div class="col-xs-4">
                            <label style="margin-top:13px">
                                <input ng-model="hideNotInClanPlayers.enabled" type="checkbox">
                                Hide players not in Clan
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-3">
                            <h3><label class="label">Collected cards per war: {{stats.avgCards}} </label></h3>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h3><label class="label">Global win ratio: {{stats.avgWins | percentage:2}}</label></h3>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h3><label class="label">Global avg score: {{stats.avgClanScore}}</label></h3>
                        </div>
                    </div>
                </div>
                <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>
                        <tr>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="name" filter-by="filter">Player</order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['warsParticipated'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="warsParticipated" filter-by="filter">
                                    <img style="display:inline" src="images/battle_mid.png"></order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['averageCardsWon'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="averageCardsWon" filter-by="filter">
                                    <img style="display:inline" src="images/cards_mid.png">
                                </order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['winRatio'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="winRatio"
                                                 filter-by="filter">Win Ratio</order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['score'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="score" filter-by="filter">
                                    <img style="display:inline" src="images/score_mid.png">
                                </order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['crownsWon'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="crownsWon" filter-by="filter">
                                    <img style="display:inline" src="images/win_mid.png">
                                </order-directive>
                            </span>
                            </th>
                            <th ng-show="state.selectableColumns['crownsLost'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="crownsLost" filter-by="filter">
                                    <img src="images/loose_mid.png" style="display:inline">
                                </order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['gamesNotPlayed'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="gamesNotPlayed" filter-by="filter">
                                    <img src="images/forfeit_mid.png" style="display:inline">
                                </order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['collectionGamesMissed'].show"><span
                                    ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="collectionGamesMissed" filter-by="filter">
                                    <img src="images/c_forfeit_mid.png" style="display:inline">
                                </order-directive></span>
                            </th>
                            <th ng-show="state.selectableColumns['totalGamesMissed'].show">
                                <span ng-click=triggerOrderDirective($event)>
                                    <order-directive bind-to="totalGamesMissed" filter-by="filter">
                                        Total Games Missed
                                    </order-directive>
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="stats.playerWarStats.length > 0 "
                            ng-repeat="s in stats.playerWarStats | orderBy: filter.orderBy: false : filter.comparator | moreWarsThan:hideLessThanEnabled.enabled:5 | playerInClan:hideNotInClanPlayers.enabled">

                            <td style="font-family: 'Comic Sans MS', cursive, sans-serif;"><a ng-href="/player/{{s.tag}}/war" ng-click="next()">
                                <span ng-style="{color: s.inClan === true ? '': 'darkgrey'}">{{s.name}}</span>
                            </a>
                            </td>
                            <td ng-show="state.selectableColumns['warsParticipated'].show">
                                {{s.warsParticipated}}/{{s.numberOfWars}}
                            </td>
                            <td ng-show="state.selectableColumns['averageCardsWon'].show">{{s.averageCardsWon |
                                number:0}}
                            </td>
                            <td ng-show="state.selectableColumns['winRatio'].show">{{s.winRatio | percentage:2}}</td>
                            <td ng-show="state.selectableColumns['score'].show">{{s.score | number:0}}</td>
                            <td ng-show="state.selectableColumns['crownsWon'].show">{{s.crownsWon}}</td>
                            <td ng-show="state.selectableColumns['crownsLost'].show">{{s.crownsLost}}</td>
                            <td ng-show="state.selectableColumns['gamesNotPlayed'].show">{{s.gamesNotPlayed}}</td>
                            <td ng-show="state.selectableColumns['collectionGamesMissed'].show">
                                {{s.collectionGamesMissed}}
                            </td>
                            <td ng-show="state.selectableColumns['totalGamesMissed'].show">{{s.totalGamesMissed}}</td>
                        </tr>
                        <tr ng-if="stats.playerWarStats.length == 0">
                            <td colspan="12"><h2>No data for this period</h2></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span> The  <img src="images/score_mid.png" style="display:inline"> is calculated based the win ratio, the average cards collected and the war participation </span>
                    </div>
                </div>
            </div>
                <!-- Modal -->
                <div class="modal fade" id="columnSelectModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title">Columns to show</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul class="list-group">
                                            <li class="list-group-item"
                                                ng-repeat="(key, val) in state.selectableColumns">
                                                <label for="{{key}}"><input id="{{key}}"
                                                                            ng-model="state.selectableColumns[key].show"
                                                                            type="checkbox"/>&nbsp;{{val.name}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="singleWarStats" ng-controller="singleWarStatController">
                <div class="row clan-header"><h1>War League Statistics</h1></div>
                <div>
                    <div class="row">
                    <div class="col-xs-4 form-inline">
                        <div class="btn-group" role="group">
                            <div style="margin-top:13px">
                                <button class="btn btn-default btn-lg" ng-click="previousWeek()" type="button"><i
                                        class='fa fa-fw fa-chevron-left'></i></button>
                                <!--<input type="text" ng-model="selectedItem" class="btn btn-default btn-lg" numbers-only>-->
                                <input autocomplete="off" class="form-input form-control war-input"
                                       ng-blur="onItemSelectedBlur(selectedItem)" ng-model="selectedItem"
                                       numbers-only size="3" type="text">
                                <button class="btn btn-primary btn-lg btn-default" ng-click="nextWeek()" type="button">
                                    <i class='fa fa-fw fa-chevron-right'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-xs-4 col-md-3">
                        <h3><label class="label">League: {{stats.startDate | date : "dd-MM-yyyy HH:mm"}} </label></h3>
                    </div>
                    <div class="col-xs-2 col-md-3">
                        <h3><label class="label">Rank: {{stats.rank}}</label></h3>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <h3><label class="label">Trophy change: {{stats.deltaTrophies}}</label></h3>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <h3><label class="label">Trophies: {{stats.totalTrophies}}</label></h3>
                    </div>
                </div>
                    <hr/>
                    <div class="row">
                    <div class="col-xs-4 col-md-3">
                        <h3><label class="label">Collected cards: {{stats.totalCards}} </label></h3>
                    </div>
                    <div class="col-xs-5 col-md-4">
                        <h3><label class="label">Average Cards/Player: {{stats.avgCards}}</label></h3>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <h3><label class="label">Win ratio: {{stats.winRatio | percentage:2}}</label></h3>
                    </div>
                    <div class="col-xs-3 col-md-2">
                        <h3><label class="label">Score: {{stats.clanScore}}</label></h3>
                    </div>
                </div>
                </div>
                <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table" style="width: inherit !important">
                        <thead>
                        <tr>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="name" filter-by="filter">Player</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <img src="images/battle_mid.png" style="display:inline"></order-directive></span>
                            </th>
                            <th>
                                <span ng-click=triggerOrderDirective($event)>
                                    <order-directive bind-to="cards" filter-by="filter">
                                        <img src="images/cards_mid.png" style="display:inline">
                                    </order-directive>
                                </span>
                            </th>
                            <th><span>Collection Games Played</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="stats.playerWarStats.length > 0 "
                            ng-repeat="s in stats.playerWarStats | orderBy: filter.orderBy: false : filter.comparator">

                            <td style="font-family: 'Comic Sans MS', cursive, sans-serif;"><a ng-click="next()"
                                                                                              ng-href="/player/{{s.tag}}/war">
                                <span ng-style="{color: s.inClan === true ? '': 'darkgrey'}">{{s.name}}</span>
                            </a>
                            </td>
                            <td>
                                <span ng-repeat="fightStatus in s.fightStatus track by $index">
                                    <img height="auto" ng-if="fightStatus == 'win'" src="images/win_mid.png"
                                         style="display:inline" width="25px">
                                    <img height="auto" ng-if="fightStatus == 'loose'" src="images/loose_mid.png"
                                         style="display:inline" width="25px">
                                    <img height="auto" ng-if="fightStatus == 'forfeit'" src="images/forfeit_mid.png"
                                         style="display:inline" width="25px">
                                </span>
                            </td>
                            <td>{{s.cards | number:0}}</td>
                            <td ng-style="colorfy(s.collectionGamesPlayed, 'collectionGames')">
                                {{s.collectionGamesPlayed}}
                            </td>
                        </tr>
                        <tr ng-if="stats.playerWarStats.length == 0">
                            <td colspan="12"><h2>No data for this period</h2></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span> The  <img src="images/score_mid.png" style="display:inline"> is calculated based the final battle result and the cards collected</span>
                    </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade in" id="clanWarProgress" ng-controller="clanWarProgressControler">
                <div class="row clan-header"><h1>Clan Progress Graph</h1></div>
                <div class="row">
                    <div class="col-md-12" id="clan_war_chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>