<div ng-cloak>

    <div class="inner-container col-xs-12">
        <div ng-controller="warStatsInputController">
            <div id="errorModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Form was not saved</h4>
                        </div>
                        <div class="modal-body">
                            <p> form was not saved due to the following errors: </p>
                            <p>{{errors}}.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div style="position:relative">
                <ul class="nav nav-tabs">
                    <li ng-class="$first? 'active' : ''" ng-repeat="stats in statsList">
                        <a data-toggle="tab" href="#input{{$index}}" ng-click="activateTab($event)"><h4>{{$index}}</h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: 10px">
                    <loading-directive loading="loading"/>
                    <div id="input{{$index}}" ng-class="$first? 'tab-pane fade in active' : 'tab-pane fade in' "
                         ng-repeat="stats in statsList">
                        <form name="inputForm_{{$index}}" method="POST" novalidate ng-class="{'form-error':submitted}"
                              ng-submit="saveWar($event, $index)" autocomplete="off">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="leagueName">League Name</label>
                                        <input type="text" id="leagueName" name="leagueName" ng-model="stats.leagueName"
                                               class="form-input form-control" required>
                                        <div ng-show="(inputForm_{{$index}}.$submitted || inputForm_{{$index}}.leagueName.$touched) && inputForm_{{$index}}.leagueName.$invalid"
                                             style="color:red">The field is mandatory
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="rank">Rank</label>
                                        <input type="text" id="rank" name="leagueName" ng-model="stats.rank"
                                               class="form-input form-control" disabled>
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="trophies">Trophies</label>
                                        <input type="text" id="trophies" name="leagueName" ng-model="stats.trophies"
                                               class="form-input form-control" disabled>
                                    </div>
                                    <label for="startDate">League Start Date</label>
                                    <div class="col-xs-2 input-group">
                                        <input type="datetime-local" id="startDate" name="startDate"
                                               ng-model="stats.startDate"
                                               class="form-input form-control" required format-date>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                    ng-click="refresh(stats.startDate, $index)"><span
                                                    class="fa fa-refresh"></span></button>
                                        </span>
                                        <div ng-show="(inputForm_{{$index}}.$submitted || inputForm_{{$index}}.startDate.$touched) && inputForm_{{$index}}.startDate.$error.required"
                                             style="color:red">The field is mandatory
                                        </div>
                                        <div ng-show="(inputForm_{{$index}}.$submitted || inputForm_{{$index}}.startDate.$touched) && inputForm_{{$index}}.startDate.$error.invalid"
                                             style="color:red">Wrong date
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive halfscreen col-lg-6">
                                    <table class="halfscreen table table-striped war-table">
                                        <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>"Collection Battles</th>
                                            <th><img style="display:inline" src="images/cards_mid.png"></th>
                                            <th><img style="display:inline" src="images/battle_mid.png"></th>
                                            <th><img style="display:inline" src="images/win_mid.png"></th>
                                            <th><img style="display:inline" src="images/loose_mid.png"></th>
                                            <th><img style="display:inline" src="images/forfeit_mid.png"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="s in stats.playerWarStats"
                                            ng-style="s.gamesWon + s.gamesLost + s.gamesNotPlayed != s.gamesGranted ? {'border': '1px solid red'}:''">
                                            <td style="display:none"><input type="hidden" name="tag" required
                                                                            ng-model="s.tag" class="form-input"/></td>
                                            <td>{{s.name}}</td>
                                            <td><input autocomplete="off" class="form-input form-control war-input"
                                                       max="3"
                                                       min="0"
                                                       name="collection_battles_{{$index}}"
                                                       ng-model="s.collectionBattlesPlayed"
                                                       ng-style="hasError('collection_battles', $parent.$index, $index) > 0 ? {'border': '1px solid red'}:''"
                                                       required
                                                       type="number"/></td>
                                            <td>{{s.cards}}</td>
                                            <td><input type="number" autocomplete="off" name="battles_{{$index}}"
                                                       ng-model="s.gamesGranted"
                                                       class="form-input form-control war-input"
                                                       min="0" max="3" required
                                                       ng-style="hasError('battles', $parent.$index, $index) > 0 ? {'border': '1px solid red'}:''"/>
                                            </td>
                                            <td><input type="number" autocomplete="off" name="wins_{{$index}}"
                                                       ng-model="s.gamesWon" class="form-input form-control war-input"
                                                       min="0" max="3" required
                                                       ng-style="hasError('wins', $parent.$index, $index) > 0 ? {'border': '1px solid red'}:''"/>
                                            </td>
                                            <td><input type="number" autocomplete="off" name="looses_{{$index}}"
                                                       required ng-model="s.gamesLost"
                                                       class="form-input form-control war-input"
                                                       min="0" max="3" required
                                                       ng-style="hasError('battles', $parent.$index, $index) > 0 ? {'looses': '1px solid red'}:''"/>
                                            </td>
                                            <td><input type="number" autocomplete="off" name="forfeit_{{$index}}"
                                                       ng-model="s.gamesNotPlayed"
                                                       class="form-input form-control war-input"
                                                       min="0" max="3" required
                                                       ng-style="hasError('battles', $parent.$index, $index) > 0 ? {'looses': '1px solid red'}:''"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="table-responsive halfscreen col-lg-6">
                                    <div><h3>Players Not Participating</h3></div>
                                    <table class="halfscreen table table-striped war-table">
                                        <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Keep</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="s in stats.playersNotParticipated">
                                            <td style="display:none"><input type="hidden" name="tag" required
                                                                            ng-model="s.tag" class="form-input"/></td>
                                            <td><a ng-href="player/{{s.tag}}" target="_blank">{{s.name}}</a></td>
                                            <td>
                                                <toggle ng-model="s.delete" ng-change="changed()"
                                                        onstyle="btn-danger" on="<i class='fa fa-times'></i>"
                                                        offstyle="btn-success" off="<i class='fa fa-check'></i>">
                                                </toggle>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <input style="float:right" type="submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>