<div ng-cloak>
    <div class="inner-container col-xs-12">
        <div ng-controller="warStatsController">

            <div class="filter row">
                <div class="btn-group" role="group">
                    <div style="margin-top:13px">
                        <button type="button" class="btn btn-primary btn-default btn-lg" ng-click="previousWeek()"><i
                                class='fa fa-fw fa-chevron-left'></i></button>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-block dropdown-toggle btn-lg" type="button"
                                    data-toggle="dropdown">
                                <span class="selected">{{selectedItem}}</span>
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" style="width:100%">

                                <li ng-repeat="i in availableWeeks">
                                    <a ng-click="dropboxitemselected(i)">{{i}}</a>
                                </li>
                            </ul>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-default" ng-click="nextWeek()"><i
                                class='fa fa-fw fa-chevron-right'></i></button>
                    </div>
                </div>
            </div>
            <p/>
            <div>
                <label> Hide players with less than 6 wars
                    <input type="checkbox" ng-model="hideLessThan">
                </label>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <h3><label class="label label-info">Team's average won cards: {{stats.avgCards}} </label></h3>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h3><label class="label label-info">Team's wins: {{stats.avgWins | percentage:2}}</label></h3>
                </div>
            </div>
            <div style="position:relative">
                <loading-directive loading="loading"/>
                <div class="table-responsive halfscreen">
                    <table class="halfscreen table table-striped war-table">
                        <thead>
                        <tr>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="name" filter-by="filter">Player</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="warsParticipated" filter-by="filter">
                                    <img style="display:inline" src="images/battle_mid.png"></order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="averageCardsWon" filter-by="filter">
                                    <img style="display:inline" src="images/cards_mid.png">
                                </order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="winRatio"
                                                 filter-by="filter">Win Ratio</order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="score" filter-by="filter">
                                    <img style="display:inline" src="images/score_mid.png">
                                </order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="crownsWon" filter-by="filter">
                                    <img style="display:inline" src="images/win_mid.png">
                                </order-directive>
                            </span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="crownsLost" filter-by="filter"> <img style="display:inline"
                                                                                               src="images/loose_mid.png"></order-directive></span>
                            </th>
                            <th><span ng-click=triggerOrderDirective($event)>
                                <order-directive bind-to="gamesNotPlayed" filter-by="filter"><img style="display:inline"
                                                                                                  src="images/forfeit_mid.png"></order-directive></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="stats.playerWarStats.length > 0 "
                            ng-repeat="s in stats.playerWarStats | orderBy: filter.orderBy: false : filter.comparator"
                            ng-hide="(!s.inClan && hideNotInClan) || (s.warsParticipated < 5 && hideLessThan)">
                            <td style="font-family: 'Comic Sans MS', cursive, sans-serif;"><a ng-href="/player/{{s.tag}}/war" ng-click="next()">
                                <span ng-style="{color: s.inClan === true ? '': 'darkgrey'}">{{s.name}}</span>
                            </a>
                            </td>
                            <td>{{s.warsParticipated}}/{{s.numberOfWars}}</td>
                            <td>{{s.averageCardsWon | number:0}}</td>
                            <td>{{s.winRatio | percentage:2}}</td>
                            <td>{{s.score | number:0}}</td>
                            <td>{{s.crownsWon}}</td>
                            <td>{{s.crownsLost}}</td>
                            <td>{{s.gamesNotPlayed}}</td>
                        </tr>
                        <tr ng-if="stats.playerWarStats.length == 0">
                            <td colspan="12"><h2>No data for this period</h2></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>