<footer>
    <div class="jumbotron" style="margin-bottom:0px">
        <div class="container">
       	  	<div class="clan-header col-xs-12"><h2>Powered by lytsiware productions</h2></div>
            <div class="col-xs-3"><h4 style="display: inline">mail: </h4> lytsiware@gmail.com</div>
            <div class="col-xs-9"><h4>This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell
                    and Supercell is not responsible for it.</h4>
            </div>
        </div>
    </div>
</footer>